* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	height: 100dvh;
	color: #eee;
	background: hsl(325, 90%, 20%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}
canvas {
	/* background: url("./images/forest_pixelart.png") center / cover no-repeat lightgray; */
}

#test_container {
	position: absolute;
	top: 2rem;
	right: 2rem;
	font-size: 2rem;
}
